.avatar{
	float:none;
	width:50px;
	height:50px;
	display:inline-block;
	vertical-align: text-bottom
}

.chat-content{
	width:70%;
	display:inline-block
} 

.chat-content h3{
	margin-left:5px;
}

.chat-content p{
	margin-top:0px;
	color:#aaaaaa;
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin-left:5px;
    line-height:28px;
}

.card .badge{
	color:white;
	top:-20px;
	left:5%;
}
