@CHARSET "UTF-8";

.christmas-header{
	background:url("../../img/christmas-1.png") 0px 0px no-repeat;
	background-size:100%;
	width: 200px;
	height:200px;
	margin-top:-30px;
	margin-left:-40px;
	overflow:hidden;
	position:absolute;  
}

.christmas-footer{
	background:url("../../img/christmas-2.png") 0px 0px no-repeat;
	background-size:100%;	
    position: absolute;
    margin:auto;
    width: 100%;
}

.hat{
	background:url("../../img/christmas-3.png") 0px 0px no-repeat;
	background-size:100%;	
    position: absolute;
    width: 50px;
    height: 40px;
    top: -20px;
    left:2px;
}

.am-comment{
	position:relative;
}
