@CHARSET "UTF-8";

.character-box{
	text-align:center;
	margin-top:20px;
}

.character-box .radio-box{
	margin-top:10px;
	clear:both;
}

.character-box img{
	border-radius:50%;
}

.radio-box .selected{
	color:#0e90d2;
}

.character-avatar{
	float:right;
	width:50px;
	height:50px;
	margin-right:60px;
}

.sign-avatar{
	clear:both;
	float:right;
	width:50px;
	height:50px;
	margin-top:-50px
}


