<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nv.dom.web.dao.user.UserMapper">

	<select id="getUserCurRoleDao" parameterType="long" resultType="UserCurRole">
	
		SELECT 
			du.id AS userId,
			du.nickname AS userNickName,
			dp.id AS playerId,
			dp.status AS status,
			dp.role AS userCurRole,
			dg.id AS gameId,
			dg.description AS gameDesc,
			dg.status AS gameStatus
		FROM 
			d_user du LEFT JOIN (d_game dg JOIN d_player dp ON dp.game_id = dg.id AND dg.status != 9 AND dp.status != 9)
		ON
			du.id = dp.user_id
		WHERE
			du.id = #{userId} 
			
	
	</select>
	
	<select id="getOfflineMessageDao" parameterType="long" resultType="Integer">
	
		SELECT 
			count(1) AS num
		FROM
			d_offline_speech dos
		WHERE
			dos.user_id = #{userId}		
	
	</select>


</mapper>